<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143933131356-v6847euhc8ft0lg1ls9d7apvu0lhpkfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143933131356-v6847euhc8ft0lg1ls9d7apvu0lhpkfh</string>
	<key>API_KEY</key>
	<string>AIzaSyAlNjQ6PmsC_GQk5de38pN-1xhMbDTSMhI</string>
	<key>GCM_SENDER_ID</key>
	<string>143933131356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tim.iDo</string>
	<key>PROJECT_ID</key>
	<string>ido-todo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ido-todo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143933131356:ios:db8867986ccb6e42743499</string>
</dict>
</plist>